<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Knockout Samples view</title>
</head>
<body>
    <div class="KnockoutSamplesView">
        <div class="col center">
            <div class="h4 pad8 center height40" data-bind="text: viewText"></div>
            <button class="primaryButton" data-bind="click: buttonClicked">Change Text</button>
            <div class="margin32 height212 width680">
                <div id="dataListSample"></div>
            </div>
        </div>
    </div>
</body>
</html>
