<!--
    HTMLLint is an internal tool that fails on this file due to non-localized example labels,
    there is no need for this comment and the one below in real-world extensions.
-->
<!-- HTMLLint Disable LabelExistsValidator -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>CloseShift</title>
</head>
<body>
    <div class="CloseShift">
            <div class="grow marginBottom48 scrollY">
                <div class="pad20 col width680">
                    <div>
                        <div class="h4">Close Shift</div>
                        <button data-bind="click: closeShiftAsync">Close</button>
                    </div>
                    <pre class="height220" data-bind="text: lastStatus"></pre>
            </div>
        </div>
    </div>
</body>
</html>
