<!--
    HTMLLint is an internal tool that fails on this file due to non-localized example labels,
    there is no need for this comment and the one below in real-world extensions.
-->
<!-- HTMLLint Disable LabelExistsValidator -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>DynamicDataListView</title>
</head>
<body>
    <div class="dynamicdatalistview">
            <div class="grow scrollY">
                <div class="pad20 col width680">
                    <div class="h3">Dynamic DataList</div>
                    <div class="pad8">
                        <button id="reloadDataButton" class="primaryButton minWidth200">Change Data Source</button>
                    </div>
                    <div class="pad8 height220">
                        <div id="dynamicDataListSample">
                        </div>
                    </div>
                    <div class="h4 center">
                        Selecting will be applied
                        <span class="bold">&nbsp;ONLY&nbsp;</span>
                        to the items that are already
                        <span class="bold">&nbsp;loaded&nbsp;</span>
                        in the Dynamic DataList
                    </div>
                    <div class="pad8 row centerY">
                        <button id="selectRandomItemsByIdButton" class="primaryButton minWidth200">Select random item</button>
                        <div id="selectByIdMessage" class="h4 marginLeft8 marginTopAuto marginBottomAuto">Tried to select an item with id=4.</div>
                    </div>
                    <div class="pad8">
                        <div class="marginBottom8">
                            <input id="nameFilter" type="text" placeholder="Name" />
                        </div>
                        <button id="selectItemsByNameButton" class="primaryButton minWidth200">Select items by name</button>
                    </div>
                    <div class="h4 padTop40">ViewModel interface</div>
                    <textarea class="height220">
/**
* Interface for data source that provides the loading data dynamically page by page.
*/
export interface IPaginatedDataSource&lt;TData&gt; {
    loadDataPage: (pageSize: number, skip: number) =&gt; Promise&lt;TData[]&gt;; // The callback function which will be called each time when page is requested.
    pageSize: number; // The page size.
}

/**
* The interface for paginated data list control options.
*/
export interface IPaginatedDataListOptions&lt;TData&gt; extends IDataListBaseOptions&lt;TData&gt; {
    data: IPaginatedDataSource&lt;TData&gt;;
}

/**
* The interface for paginated data lists.
*/
export interface IPaginatedDataList&lt;TData&gt; extends IDataListBase&lt;TData&gt; {
    reloadData(): void;
}

export interface IIncrementalDataSource {
    callerMethod: Function;
    dataManager?: any;
    onLoading?: Observable&lt;boolean&gt;;
    pageSize?: number;
    pageLoadCallBack?: any;
    reloadCallBack?: Observable&lt;() =&gt; void&gt;;
    updateItemCallBack?: Observable&lt;(index: number, item: any)=&gt; void&gt;;
    pageLoadCompleteCallBackFunction?: any;
}
                    </textarea>
                    <div class="h4 padTop40">Controller syntax</div>
                    <textarea class="height220">
import * as Views from "PosApi/Create/Views";
import * as Controls from "PosApi/Consume/Controls";
import { ObjectExtensions } from "PosApi/TypeExtensions";

export interface IShiftData {
    requestId: number;
    requestDateTime: Date;
    requestedWorkerName: string;
    requestType: string;
    requestStatus: string;
}


/**
 * The controller for DynamicDataListView.
 */
export default class DynamicDataListView extends Views.CustomViewControllerBase {
    public paginatedDataList: Controls.IPaginatedDataList&lt;IShiftData&gt;;

    private _isUsingAlternativeData: boolean;

    constructor(context: Views.ICustomViewControllerContext) {
        super(context);

        this.state.title = "Dynamic DataList sample";
        this._isUsingAlternativeData = false;
    }

    /**
     * Bind the html element with view controller.
     * @param {HTMLElement} element DOM element.
     */
    public onReady(element: HTMLElement): void {
        ko.applyBindings(this, element);

        document.getElementById("selectByIdMessage").innerHTML = "Try to click the 'Select random item by id' button!";
        document.getElementById("selectRandomItemsByIdButton").addEventListener('click', () =&gt; {
            this.selectRandomItemsById();
        });
        document.getElementById("selectItemsByNameButton").addEventListener('click', () =&gt; {
            this.selectItemsByName();
        });

        // Initialize datalist source
        let paginatedDataSource: Controls.IPaginatedDataSource&lt;IShiftData&gt; = {
            pageSize: 5,
            loadDataPage: this._loadDataPage.bind(this)
        };

        // Initialize datalist options
        let dataListOptions: Readonly&lt;Controls.IPaginatedDataListOptions&lt;IShiftData&gt;&gt; = {
            columns: [
                {
                    title: "ID",
                    ratio: 20,
                    collapseOrder: 3,
                    minWidth: 100,
                    computeValue: (value: IShiftData): string =&gt; {
                        return value.requestId.toString();
                    }
                },
                {
                    title: "Name",
                    ratio: 30,
                    collapseOrder: 4,
                    minWidth: 100,
                    computeValue: (value: IShiftData): string =&gt; {
                        return value.requestedWorkerName;
                    }
                },
                {
                    title: "Type",
                    ratio: 25,
                    collapseOrder: 1,
                    minWidth: 100,
                    computeValue: (value: IShiftData): string =&gt; {
                        return value.requestType;
                    }
                },
                {
                    title: "Status",
                    ratio: 25,
                    collapseOrder: 2,
                    minWidth: 100,
                    computeValue: (value: IShiftData): string =&gt; {
                        return value.requestStatus;
                    }
                }
            ],

            data: paginatedDataSource,
            interactionMode: Controls.DataListInteractionMode.MultiSelect,
            equalityComparer: (left: IShiftData, right: IShiftData): boolean =&gt; left.requestId === right.requestId
        };

        // Initialize datalist
        let dataListRootElem: HTMLDivElement = element.querySelector("#dynamicDataListSample") as HTMLDivElement;
        this.paginatedDataList = this.context.controlFactory.create("", "PaginatedDataList", dataListOptions, dataListRootElem);
        this.paginatedDataList.addEventListener("SelectionChanged", (eventData: { items: IShiftData[] }) =&gt; {
            this._dataListSelectionChanged();
        });

        let reloadBtn: HTMLButtonElement = element.querySelector("#reloadDataButton") as HTMLButtonElement;
        reloadBtn.addEventListener('click', () =&gt; {
            this._isUsingAlternativeData = !this._isUsingAlternativeData;
            this.paginatedDataList.reloadData();
        });
    }

    /**
     * Callback for selecting items by random id button.
     * Selecting will be applied only to the items which are already loaded.
     * If the item is not yet loaded, nothing will happen to it.
     */
    public selectRandomItemsById(): void {
        let items = this._getData();

        if (items.length == 0) {
            return;
        }

        let index = Math.floor(Math.random() * items.length);
        let item = items[index];

        document.getElementById("selectByIdMessage").innerHTML =
            `Tried to select item with id=${item.requestId}.`;

        this.paginatedDataList.selectItems([item]);
    }

    /**
     * Callback for selecting items by name button.
     * Selecting will be applied only to the items which are already loaded.
     * If the item is not yet loaded, nothing will happen to it.
     */
    public selectItemsByName(): void {
        let nameFilterValue = (&lt;HTMLInputElement&gt;document.getElementById("nameFilter")).value;
        let items = this._getData();
        let itemsToSelect = items.filter(
            item =&gt; item.requestedWorkerName.toLowerCase().indexOf(nameFilterValue.toLowerCase()) != -1);

        this.paginatedDataList.selectItems(itemsToSelect);
    }

    /**
     * Called when the object is disposed.
     */
    public dispose(): void {
        ObjectExtensions.disposeAllProperties(this);
    }

    /**
     * Callback for data list.
     */
    private _dataListSelectionChanged(): void {
        this.context.logger.logInformational("_dataListSelectionChanged");
    }

    /**
     * Load data page callback.
     * @param {number} size The number of items to load.
     * @param {number} skip The number of items that were already loaded.
     * @returns {Promise&lt;IShiftData[]&gt;} The loaded items promise.
     */
    private _loadDataPage(size: number, skip: number): Promise&lt;IShiftData[]&gt; {
        let promise: Promise&lt;any&gt; = new Promise((resolve: (value?: any) =&gt; void) =&gt; {
            // Emulate delay of request to server.
            setTimeout(() =&gt; {
                this.context.logger.logInformational("dataListPageLoaded");

                let pageData: IShiftData[] = this._getData(size, skip);
                resolve(pageData);
            }, 1000);
        });

        return promise;
    }

    /**
     * Gets items based on the current data source.
     * @param {number} size The number of items to return.
     * @param {number} skip The number of items to skip.
     * @returns {IShiftData[]} The requested items.
     */
    private _getData(size?: number, skip?: number): IShiftData[] {
        if (ObjectExtensions.isNullOrUndefined(skip)) {
            skip = 0;
        }

        let data: IShiftData[] = [];
        if (this._isUsingAlternativeData) {
            data = this._getAlternativeData();
        } else {
            data = this._getAllItems();
        }

        if (ObjectExtensions.isNullOrUndefined(size)) {
            return data.slice(skip);
        } else {
            return data.slice(skip, skip + size);
        }
    }

    /**
     * Gets alternative items.
     * @returns {Promise&lt;IShiftData[]&gt;} The requested items.
     */
    private _getAlternativeData(): IShiftData[] {
        return [{
            requestId: 1,
            requestDateTime: new Date(),
            requestedWorkerName: "Alternative Name.",
            requestType: "Alternative Type.",
            requestStatus: "Approved"
        }];
    }

    /**
     * Gets all sample data items.
     * @returns {IShiftData[]} The items for the data list.
     */
    private _getAllItems(): IShiftData[] {
        return [{
            requestId: 1,
            requestDateTime: new Date(),
            requestedWorkerName: "Allison Berker",
            requestType: "Leave request",
            requestStatus: "Approved"
        },
        {
            requestId: 2,
            requestDateTime: new Date(),
            requestedWorkerName: "Bert Miner",
            requestType: "Shift Swap",
            requestStatus: "Pending"
        },
        {
            requestId: 3,
            requestDateTime: new Date(),
            requestedWorkerName: "Greg Marchievsky",
            requestType: "Shift Offer",
            requestStatus: "Rejected"
        },
        {
            requestId: 4,
            requestDateTime: new Date(),
            requestedWorkerName: "Allison Berker",
            requestType: "Leave request",
            requestStatus: "Approved"
        },
        {
            requestId: 5,
            requestDateTime: new Date(),
            requestedWorkerName: "Bert Miner",
            requestType: "Shift Swap",
            requestStatus: "Pending"
        },
        {
            requestId: 6,
            requestDateTime: new Date(),
            requestedWorkerName: "Allison Berker",
            requestType: "Leave request",
            requestStatus: "Approved"
        },
        {
            requestId: 7,
            requestDateTime: new Date(),
            requestedWorkerName: "Bert Miner",
            requestType: "Shift Swap",
            requestStatus: "Pending"
        },
        {
            requestId: 8,
            requestDateTime: new Date(),
            requestedWorkerName: "Allison Berker",
            requestType: "Leave request",
            requestStatus: "Approved"
        },
        {
            requestId: 9,
            requestDateTime: new Date(),
            requestedWorkerName: "Bert Miner",
            requestType: "Shift Swap",
            requestStatus: "Pending"
        },
        {
            requestId: 10,
            requestDateTime: new Date(),
            requestedWorkerName: "Allison Berker",
            requestType: "Leave request",
            requestStatus: "Approved"
        },
        {
            requestId: 11,
            requestDateTime: new Date(),
            requestedWorkerName: "Bert Miner",
            requestType: "Shift Swap",
            requestStatus: "Pending"
        },
        {
            requestId: 12,
            requestDateTime: new Date(),
            requestedWorkerName: "Allison Berker",
            requestType: "Leave request",
            requestStatus: "Approved"
        },
        {
            requestId: 13,
            requestDateTime: new Date(),
            requestedWorkerName: "Bert Miner",
            requestType: "Shift Swap",
            requestStatus: "Pending"
        },
        {
            requestId: 14,
            requestDateTime: new Date(),
            requestedWorkerName: "Allison Berker",
            requestType: "Leave request",
            requestStatus: "Approved"
        },
        {
            requestId: 15,
            requestDateTime: new Date(),
            requestedWorkerName: "Allison Berker",
            requestType: "Leave request",
            requestStatus: "Approved"
        },
        {
            requestId: 16,
            requestDateTime: new Date(),
            requestedWorkerName: "Bert Miner",
            requestType: "Shift Swap",
            requestStatus: "Pending"
        },
        {
            requestId: 17,
            requestDateTime: new Date(),
            requestedWorkerName: "Allison Berker",
            requestType: "Leave request",
            requestStatus: "Approved"
        },
        {
            requestId: 18,
            requestDateTime: new Date(),
            requestedWorkerName: "Bert Miner",
            requestType: "Shift Swap",
            requestStatus: "Pending"
        },
        {
            requestId: 19,
            requestDateTime: new Date(),
            requestedWorkerName: "Allison Berker",
            requestType: "Leave request",
            requestStatus: "Approved"
        },
        {
            requestId: 20,
            requestDateTime: new Date(),
            requestedWorkerName: "Bert Miner",
            requestType: "Shift Swap",
            requestStatus: "Pending"
        },
        {
            requestId: 21,
            requestDateTime: new Date(),
            requestedWorkerName: "Allison Berker",
            requestType: "Leave request",
            requestStatus: "Approved"
        },
        {
            requestId: 22,
            requestDateTime: new Date(),
            requestedWorkerName: "Bert Miner",
            requestType: "Shift Swap",
            requestStatus: "Pending"
        },
        {
            requestId: 23,
            requestDateTime: new Date(),
            requestedWorkerName: "Allison Berker",
            requestType: "Leave request",
            requestStatus: "Approved"
        },
        {
            requestId: 24,
            requestDateTime: new Date(),
            requestedWorkerName: "Bert Miner",
            requestType: "Shift Swap",
            requestStatus: "Pending"
        },
        {
            requestId: 25,
            requestDateTime: new Date(),
            requestedWorkerName: "Allison Berker",
            requestType: "Leave request",
            requestStatus: "Approved"
        },
        {
            requestId: 26,
            requestDateTime: new Date(),
            requestedWorkerName: "Bert Miner",
            requestType: "Shift Swap",
            requestStatus: "Pending"
        },
        {
            requestId: 27,
            requestDateTime: new Date(),
            requestedWorkerName: "Allison Berker",
            requestType: "Leave request",
            requestStatus: "Approved"
        },
        {
            requestId: 28,
            requestDateTime: new Date(),
            requestedWorkerName: "Bert Miner",
            requestType: "Shift Swap",
            requestStatus: "Pending"
        },
        {
            requestId: 29,
            requestDateTime: new Date(),
            requestedWorkerName: "Allison Berker",
            requestType: "Leave request",
            requestStatus: "Approved"
        },
        {
            requestId: 30,
            requestDateTime: new Date(),
            requestedWorkerName: "Bert Miner",
            requestType: "Shift Swap",
            requestStatus: "Pending"
        }];
    }
}
                    </textarea>
                    <div class="h4 padTop40">HTML syntax</div>
                    <textarea class="height220">
Height must be greater than row height in order for data list to work.
So make sure you have sufficient space.
&lt;div class="pad8 height220"&gt;
    &lt;div id="dynamicDataListSample"&gt;&lt;/div&gt;
&lt;/div&gt;
                    </textarea>
                </div>
            </div>
        </div>
</body>
</html>
