<!--
    HTMLLint is an internal tool that fails on this file due to non-localized example labels,
    there is no need for this comment and the one below in real-world extensions.
-->
<!-- HTMLLint Disable LabelExistsValidator -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>ApiView</title>
</head>
<body>
    <div class="ApiView">
            <div class="grow marginBottom48 scrollY">
                <div class="pad20 col width680">
                    <div>
                        <div class="h4">Force Void Transaction</div>
                        <button data-bind="click:getCurrentCart">Refresh Cart</button>
                        <button data-bind="click:forceVoidTransaction">Force Void Transaction</button>
                    </div>
                    <textarea class="height220" data-bind="text: currentCart"></textarea>
                </div>
            </div>
    </div>
</body>
</html>
