<!--
    HTMLLint is an internal tool that fails on this file due to non-localized example labels,
    there is no need for this comment and the one below in real-world extensions.
-->
<!-- HTMLLint Disable LabelExistsValidator -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>SyncStockCountJournals</title>
</head>
<body>
    <div class="SyncStockCountJournals">
            <div class="grow marginBottom48 scrollY">
                <div class="pad20 col width680">
                    <div>
                        <div class="h4">Sync Stock Count Journals</div>
                        <button data-bind="click: syncAllStockCountJournalsAsync">Sync</button>
                    </div>
                    <textarea class="height220" data-bind="text: journals"></textarea>
                </div>
            </div>
        </div>
</body>
</html>
