<!--
    HTMLLint is an internal tool that fails on this file due to non-localized example labels,
    there is no need for this comment and the one below in real-world extensions.
-->
<!-- HTMLLint Disable LabelExistsValidator -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>TransactionNumPadView</title>
</head>
<body>
    <div class="TransactionNumPadView">
        <div data-bind="msPosHeaderSplitView: headerSplitView">
            <div class="grow marginBottom48 scrollY">
                <div class="pad20 col width680">
                    <h3>TransactionNumPad</h3>
                    <div class="pad8">
                        <div class="minWidth260 maxWidth320" id="TransactionNumPad"></div>
                        <div class="h4" data-bind="text: 'onEnter - value: ' + numPadValue() + ' quantity: '+ numPadQuantity()"></div>
                        <div class="h4" data-bind="text: scanResultSourceText"></div>
                        <div class="h4" data-bind="text: scanResult()"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
